#%RAML 0.8
---
title: e-BookMobile API
version: v1
#baseUri: http://api.e-bookmobile.com/{version}
baseUri: https://mocksvc.mulesoft.com/mocks/9a5e7048-14a6-480b-81e9-afd024985b24/{version}
/users:
    /authors:
      /{authorname}:
    /books:
      get:
        queryParameters:
          author:
            displayName: Author
            type: string
            description: An author's full name
            example: Mary Roach
            required: false
          publicationYear:
            displayName: Pub Year
            type: number
            description: The year released for the first time in the US
            example: 1984
            required: false
          rating:
            displayName: Rating
            type: number
            description: Average rating (1-5) submitted by users
            example: 3.14
            required: false
          isbn:
            displayName: ISBN
            type: string
            minLength: 10
            example: 0321736079?
      post:
      put:
        queryParameters:
           access_token:
            displayName: Access Token
            type: string
            description: Token giving you permission to make call
            required: true
      /{bookTitle}:
        get:
          description: Retrieve a specific book title
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                      "data": {
                        "id": "SbBGk",
                        "title": "Stiff: The Curious Lives of Human Cadavers",
                        "description": null,
                        "datetime": 1341533193,
                        "genre": "science",
                        "author": "Mary Roach",
                        "link": "http://e-bookmobile.com/books/Stiff",
                     },
                     "success": true,
                     "status": 200
                    }
        put:
        delete:
        /author:
          get:
        /publisher:
          get:
    